<template>
    <v-app>
        <v-app-bar
      height="150px"
      app
      color="yellow accent-3"
      display= "flex"
      dark
    >
      <div class="d-flex align-center" 
        style = "margin-left:80px;">
        <a href="./App.vue">
        <v-img
          alt="Sei logo"
          class="shrink mr-2"
          contain
          src="https://i.imgur.com/maZ2NT0.png"
          transition="scale-transition"
          width="150"
        />
        </a>

        <v-img
          alt="Sei Nome"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://i.imgur.com/nXR39Eu.png"
          width="500"
        />
      </div>
      <v-spacer></v-spacer>

    <div class="d-flex justify-space-between" style= "margin-bottom: 75px">
      <h3 class="align-start" style="color:black; margin-right:10px;">Contraste</h3>
        <v-btn fab x-small style="background: black;"></v-btn>
        <v-btn fab x-small style="background: white;"></v-btn>
    </div>
  <div class="d-flex justify-space-between able">
    <v-btn class="bottonLeter" depressed>
      <h5>a-</h5>
    </v-btn>
    <v-btn class="bottonLeter" depressed>
      <h2>A+</h2>
    </v-btn>
  </div>
      <v-spacer></v-spacer>

 <v-card
        max-width="700"
        style="margin-right:50px;"
      >
        <v-toolbar flat style="background: #e8e6e5">
          <v-toolbar-title style="color: black">Escolha um assunto</v-toolbar-title>
  
          <v-spacer></v-spacer>
  
          <v-btn icon style="color: black">
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
  
          <v-btn icon style="color: black">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </v-toolbar>
  
        <v-divider></v-divider>
      </v-card>
        </v-app-bar>
        <div class="d-flex align-center flex-column">
        <div class="d-flex justify-center align-center title">
          <h1>Análise literária: Dom Casmurro</h1>
        </div>
        <div class="d-flex text text-justify align-center flex-column">
        <span style="font-size: 35px;">Dom Casmurro de Machado de Assis:</span>
        <span style="font-size:25px;"> Publicado pela primeira vez em 1899, “Dom Casmurro” é uma das grandes obras de Machado de Assis e confirma
             o olhar certeiro e crítico que o autor estendia sobre toda a sociedade brasileira. Também a temática do ciúme, abordada com brilhantismo
              nesse livro, provoca polêmicas em torno do caráter de uma das principais personagens femininas da literatura brasileira: Capitu.</span>
        <span class="sub-title">Resumo:</span>
        <span style="font-size: 25px;">O romance inicia-se numa situação posterior a todos os seus acontecimentos. Bento Santiago, já um homem de idade,
             conta ao leitor como recebeu a alcunha de Dom Casmurro. A expressão fora inventada por um jovem poeta, que tentara ler para ele no trem alguns
              de seus versos. Como Bento cochilara durante a leitura, o rapaz ficou chateado e começou a chamá-lo daquela forma.
O narrador inicia então o projeto de rememorar sua existência, o que ele chama de “atar as duas pontas da vida”. O leitor é apresentado à infância de
 Bentinho, quando ele vivia com a família num casarão da rua de Matacavalos.</span>
        <span style="font-size: 25px;">O primeiro fato relevante narrado é também seu primeiro motivo de preocupação. Bentinho escuta uma conversa entre José Dias
      e dona Glória: ela pretende mandá-lo ao seminário no cumprimento de uma promessa feita pouco antes de seu nascimento. A mãe, que já havia perdido um
       filho, prometera que, se o segundo filho nascesse “varão”, ela faria dele padre. Na conversa, dona Glória soubera da amizade estreita entre o menino
        e a filha de Pádua, Capitolina.</span>
        <span style="font-size: 25px;">Bentinho fica furioso com José Dias, que o denunciara, e expõe a situação a Capitu. A menina ouve tudo com atenção e começa a arquitetar uma maneira de Bentinho escapar do seminário, mas todos os seus planos fracassam. O garoto segue para o seminário, mas, antes de partir, sela, com um beijo em Capitu, a promessa de que se casaria com ela.
No seminário, Bentinho conhece Ezequiel de Souza Escobar, que se torna seu melhor amigo. Em uma visita a sua família, Bentinho leva Escobar e Capitu o conhece.</span>
        <span style="font-size: 25px">Enquanto Bentinho estuda para se tornar padre, Capitu estreita relações com dona Glória, que passa a ver com bons olhos
             a relação do filho com a garota. Dona Glória ainda não sabe, contudo, como resolver o problema da promessa e pensa em consultar o papa. Escobar
              é quem encontra a solução: a mãe, em desespero, prometera a Deus um sacerdote que não precisava, necessariamente, ser Bentinho. Por isso, no
               lugar dele, um escravo é enviado ao seminário e ordena-se padre.</span>
        <span class="sub-title">Pedagogia: Educação Inclusiva</span>
        <span style="font-size: 25px;">O que é inclusão? Como incluir o aluno de maneira realmente significativa? Quais leis garantem que o aluno com
             deficiência seja incluído na escola regular? Por que a escola e a família devem ser parceiras nesse processo? Essas e muitas outras perguntas
              serão respondidas nesse curso, venha ampliar o seu repertório e entender de que forma podemos trabalhar com a inclusão de maneira justa
               e efetiva.</span>
        <span style="font-size: 25px">Os principais assuntos que serão abordados no curso são: anorama Histórico, leis e diretrizes, características
             e fragilidades do Deficiente Visual e Auditivo, características e fragilidades do Autismo, características e fragilidades da Síndrome de Down, 
             parceria escola e família</span>
        </div>
        </div>
    </v-app>
</template>
<style scoped>
  .able {
    margin-left: 100px;
    width: 50px;
    margin-bottom: 75px;
  }

  .painel {
    height: 1000px;
    width: 33%;
    margin: 50px;
  }

  .bottonLeter {
    margin : 2px;
  }

  .text {
      margin-left: 50px;
      margin-right: 50px;
      height: 2000px;
      width: 1500px;
      background: #e8e6e5;
      padding: 3%;

  }

  .title {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #e8e6e5;
    height: 100px;
    width: 1500px;
  }

  .sub-title {
    font-size: 35px;
    margin-top:50px;
    margin-bottom: 50px;
  }
</style>