<template>
    <v-app>
        <v-app-bar
      height="150px"
      app
      color="yellow accent-3"
      display= "flex"
      dark
    >
      <div class="d-flex align-center" 
        style = "margin-left:80px;">
        <a href="./App.vue">
        <v-img
          alt="Sei logo"
          class="shrink mr-2"
          contain
          src="https://i.imgur.com/maZ2NT0.png"
          transition="scale-transition"
          width="150"
        />
        </a>

        <v-img
          alt="Sei Nome"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://i.imgur.com/nXR39Eu.png"
          width="500"
        />
      </div>
      <v-spacer></v-spacer>

    <div class="d-flex justify-space-between" style= "margin-bottom: 75px">
      <h3 class="align-start" style="color:black; margin-right:10px;">Contraste</h3>
        <v-btn fab x-small style="background: black;"></v-btn>
        <v-btn fab x-small style="background: white;"></v-btn>
    </div>
  <div class="d-flex justify-space-between able">
    <v-btn class="bottonLeter" depressed>
      <h5>a-</h5>
    </v-btn>
    <v-btn class="bottonLeter" depressed>
      <h2>A+</h2>
    </v-btn>
  </div>
      <v-spacer></v-spacer>

 <v-card
        max-width="700"
        style="margin-right:50px;"
      >
        <v-toolbar flat style="background: #e8e6e5">
          <v-toolbar-title style="color: black">Escolha um assunto</v-toolbar-title>
  
          <v-spacer></v-spacer>
  
          <v-btn icon style="color: black">
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
  
          <v-btn icon style="color: black">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </v-toolbar>
  
        <v-divider></v-divider>
      </v-card>
        </v-app-bar>
        <div class="d-flex align-center flex-column" style="padding-top:100px">
        <div class="d-flex justify-center align-center title">
          <h1>Ensino Básico</h1>
        </div>
        </div>
        <div id="app">
        <v-app id="inspire">
            <v-expansion-panels>
            <router-view></router-view>
            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header ><b>Língua Portuguesa</b></v-expansion-panel-header>
                <v-expansion-panel-content><b>Gêneros Textuais</b></v-expansion-panel-content>
                <v-expansion-panel-content>
                    Características do gênero textual
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Identificação do pública alvo e intencionalidade do gênero
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Texto verbal e não-verbal
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Texto jornalistico
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                 <v-expansion-panel-content><b>Sintaxe</b></v-expansion-panel-content>
                <v-expansion-panel-content>
                    Orações subordinadas
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Análise sintática
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Verbos de ligação
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Orações coordenadas
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Concordância verbal e nominal
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Objeto direto e indireto
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Sujeito e predicado
                    <v-btn :to="{ name:'SujeitoPred'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content><b>Morfologia</b></v-expansion-panel-content>
                <v-expansion-panel-content>
                    Substantivos, adjetivos e advérbios
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Artigo definido e indefinido
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    pronomes e conjunções
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Preposições e interjeições
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                


            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header><b>Redação</b></v-expansion-panel-header>
                <v-expansion-panel-content>Em breve</v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header ><b>Língua de sinais(Libra)</b></v-expansion-panel-header>
                <v-expansion-panel-content>Em breve</v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header ><b>Língua Inglesa</b></v-expansion-panel-header>
                <v-expansion-panel-content>Em breve</v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header ><b>Literatura</b></v-expansion-panel-header>
                <v-expansion-panel-content>Em breve</v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header ><b>História</b></v-expansion-panel-header>
                <v-expansion-panel-content><b>História Básica</b></v-expansion-panel-content>
                <v-expansion-panel-content>
                    Por que estudar história?
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Linha do tempo
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Evolução do hominídio
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content><b>Pré História</b></v-expansion-panel-content>
                <v-expansion-panel-content>
                    Paleolítico
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Neolítico
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content><b>História Antiga</b></v-expansion-panel-content>
                <v-expansion-panel-content>
                    Egito antigo e Mesopotâmia
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Gŕecia Antiga
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Império Romano
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Helenismo
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header ><b>Geografia</b></v-expansion-panel-header>
                <v-expansion-panel-content>Em breve</v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header ><b>Matemática</b></v-expansion-panel-header>
                <v-expansion-panel-content>
                    Aritmética básica
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Geometria Euclidiana
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                 <v-expansion-panel-content>
                    Conjuntos
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                 <v-expansion-panel-content>
                    Função afim
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header><b>Ciências</b></v-expansion-panel-header>
                <v-expansion-panel-content>Em breve</v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header><b>Artes</b></v-expansion-panel-header>
                <v-expansion-panel-content>Em breve</v-expansion-panel-content>
            </v-expansion-panel>
            
            </v-expansion-panels>
        </v-app>
        </div>





    </v-app>
</template>

<script>
export default{}
</script>

<style scoped>
  .able {
    margin-left: 100px;
    width: 50px;
    margin-bottom: 75px;
  }

  .painel {
    height: 1000px;
    width: 33%;
    margin: 50px;
  }

  .bottonLeter {
    margin : 2px;
  }

  .text {
      margin-left: 50px;
      margin-right: 50px;
      height: 2000px;
      width: 1500px;
      background: #e8e6e5;
      padding: 3%;

  }

  .title {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #e8e6e5;
    height: 100px;
    width: 2000px;
  }

  .sub-title {
    font-size: 35px;
    margin-top:50px;
    margin-bottom: 50px;
  }
</style>
