<template>
    <v-app>
            <v-app-bar
      height="150px"
      app
      color="yellow accent-3"
      display= "flex"
      dark
    >
      <div class="d-flex align-center" 
        style = "margin-left:80px;">
        <a href="./App.vue">
        <v-img
          alt="Sei logo"
          class="shrink mr-2"
          contain
          src="https://i.imgur.com/maZ2NT0.png"
          transition="scale-transition"
          width="150"
        />
        </a>

        <v-img
          alt="Sei Nome"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://i.imgur.com/nXR39Eu.png"
          width="500"
        />
      </div>
      <v-spacer></v-spacer>

    <div class="d-flex justify-space-between" style= "margin-bottom: 75px">
      <h3 class="align-start" style="color:black; margin-right:10px;">Contraste</h3>
        <v-btn fab x-small style="background: black;"></v-btn>
        <v-btn fab x-small style="background: white;"></v-btn>
    </div>
  <div class="d-flex justify-space-between able">
    <v-btn class="bottonLeter" depressed>
      <h5>a-</h5>
    </v-btn>
    <v-btn class="bottonLeter" depressed>
      <h2>A+</h2>
    </v-btn>
  </div>
      <v-spacer></v-spacer>

 <v-card
        max-width="700"
        style="margin-right:50px;"
      >
        <v-toolbar flat style="background: #e8e6e5">
          <v-toolbar-title style="color: black">Escolha um assunto</v-toolbar-title>
  
          <v-spacer></v-spacer>
  
          <v-btn icon style="color: black">
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
  
          <v-btn icon style="color: black">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </v-toolbar>
  
        <v-divider></v-divider>
      </v-card>
        </v-app-bar>
        <div class="d-flex align-center flex-column" style="padding-top:100px">
        <div class="d-flex justify-center align-center title">
          <h1>Ensino Médio</h1>
        </div>
        </div>
         <div id="app">
        <v-app id="inspire">
            <v-expansion-panels>
            <router-view></router-view>
            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header ><b>Matemática</b></v-expansion-panel-header>
                <v-expansion-panel-content>
                    Geometria Analítica
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Estatística
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Funções de segundo grau
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Funções de segundo grau
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Funções trigonométricas
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Semelhança de triângulos
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Trigonometria
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header ><b>História</b></v-expansion-panel-header>
                <v-expansion-panel-content>
                    Revolução Francesa
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Queda da Bastilha
                    <v-btn :to="{ name:'Francesa'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Ditadura Militar Brasileira
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    História do Brasil Contemporâneo
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Primeira Guerra Mundial
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Segunda Guerra Mundial
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Guerra Fria
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content><b>História Medieval</b></v-expansion-panel-content>
                <v-expansion-panel-content>
                    Império Bizantino
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Feudalismo
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Arte e arquitetura Medieval
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Alta e baixa Idade Média
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Burguesia e a crise do feudalismo
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Cristianismo e islamismo
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content><b>História Moderna</b></v-expansion-panel-content>
                <v-expansion-panel-content>
                    Capitalismo e o liberalismo econômico
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Iluminismo e o Renascimento
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Reforma protestante
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Absolutismo
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
                <v-expansion-panel-content>
                    Revolução Francesa
                    <v-btn :to="{ name:'Pitagoras'}" fab small style="background:#ffff00; float: right;">></v-btn>
                </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header ><b>Geografia</b></v-expansion-panel-header>
                <v-expansion-panel-content>{Em breve</v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header ><b>Química</b></v-expansion-panel-header>
                <v-expansion-panel-content>Em breve</v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header ><b>Biologia</b></v-expansion-panel-header>
                <v-expansion-panel-content>Em breve</v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header ><b>Física</b></v-expansion-panel-header>
                <v-expansion-panel-content>Em breve</v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header ><b>Inglês</b></v-expansion-panel-header>
                <v-expansion-panel-content>{Em breve</v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header ><b>Literatura</b></v-expansion-panel-header>
                <v-expansion-panel-content>Em breve</v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header ><b>Português</b></v-expansion-panel-header>
                <v-expansion-panel-content>Em breve</v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel
                style="background: #e8e6e5"
            >
                <v-expansion-panel-header ><b>Artes</b></v-expansion-panel-header>
                <v-expansion-panel-content>Em breve</v-expansion-panel-content>
            </v-expansion-panel>
            
            </v-expansion-panels>
        </v-app>
        </div>






        
    </v-app>
</template>

<script>
export default {}
</script>

<style scoped>
  .able {
    margin-left: 100px;
    width: 50px;
    margin-bottom: 75px;
  }

  .painel {
    height: 1000px;
    width: 33%;
    margin: 50px;
  }

  .bottonLeter {
    margin : 2px;
  }

  .text {
      margin-left: 50px;
      margin-right: 50px;
      height: 2000px;
      width: 1500px;
      background: #e8e6e5;
      padding: 3%;

  }

  .title {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #e8e6e5;
    height: 100px;
    width: 2000px;
  }

  .sub-title {
    font-size: 35px;
    margin-top:50px;
    margin-bottom: 50px;
  }
</style>
