<template>
    <v-app>
          <v-app-bar
      height="150px"
      app
      color="yellow accent-3"
      display= "flex"
      dark
    >
      <div class="d-flex align-center" 
        style = "margin-left:80px;">
        <a href="./App.vue">
        <v-img
          alt="Sei logo"
          class="shrink mr-2"
          contain
          src="https://i.imgur.com/maZ2NT0.png"
          transition="scale-transition"
          width="150"
        />
        </a>

        <v-img
          alt="Sei Nome"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://i.imgur.com/nXR39Eu.png"
          width="500"
        />
      </div>
      <v-spacer></v-spacer>

    <div class="d-flex justify-space-between" style= "margin-bottom: 75px">
      <h3 class="align-start" style="color:black; margin-right:10px;">Contraste</h3>
        <v-btn fab x-small style="background: black;"></v-btn>
        <v-btn fab x-small style="background: white;"></v-btn>
    </div>
  <div class="d-flex justify-space-between able">
    <v-btn class="bottonLeter" depressed>
      <h5>a-</h5>
    </v-btn>
    <v-btn class="bottonLeter" depressed>
      <h2>A+</h2>
    </v-btn>
  </div>
      <v-spacer></v-spacer>

 <v-card
        max-width="700"
        style="margin-right:50px;"
      >
        <v-toolbar flat style="background: #e8e6e5">
          <v-toolbar-title style="color: black">Escolha um assunto</v-toolbar-title>
  
          <v-spacer></v-spacer>
  
          <v-btn icon style="color: black">
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
  
          <v-btn icon style="color: black">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </v-toolbar>
  
        <v-divider></v-divider>
      </v-card>
        </v-app-bar>
        <div class="d-flex align-center flex-column">
        <div class="d-flex justify-center align-center title">
          <h1>Revolução Francesa</h1>
        </div>
      <div class="d-flex text text-justify align-center flex-column">
        <span style="font-size: 35px;">Introdução:</span>
        <span style="font-size:25px;"> gA queda da Bastilha, em 14 de julho de 1789, é considerado o evento que deu início à Revolução Francesa. A Bastilha
             era uma grande prisão considerada símbolo do Antigo Regime, e sua tomada pela população de Paris espalhou a revolução por toda a França. Esse
              alastramento da revolta popular resultou em grandes transformações sociais e políticas no país e marcou a queda do Antigo Regime. A tomada da
               Bastilha foi consequência da grave crise que a sociedade francesa enfrentava no final do século XVIII.</span>
        <span class="sub-title">França antes da revolução:</span>
        <span style="font-size: 25px;">UA Revolução Francesa foi resultado da grave crise que a sociedade francesa enfrentava nas décadas de 1770 e 1780. Nesse período,
             a França possuía uma monarquia absolutista e era governada por Luís XVI, que concentrava todo o poder do Estado francês. Além disso, a sociedade francesa
              era dividida em três grandes grupos, conhecidos como estados.</span>
        <span style="font-size: 25px">O Primeiro Estado representava o clero e os representantes da sociedade vinculados à Igreja. O Segundo Estado representava a
                   aristocracia francesa, isto é, a nobreza, que mantinha uma série de privilégios e viviam à custa do Estado e de seus feudos. Essas duas classes, juntas,
                    impunham uma grande opressão e exploração sobre o Terceiro Estado, o qual agrupava o povo em geral e formava cerca de 95% da população francesa, mas que
                     era representado oficialmente pela burguesia francesa.</span>
        <span style="font-size: 25px">Clero e nobreza possuíam uma série de privilégios, como terras cedidas pelo rei francês e isenção de impostos,
             e dispunham um estilo de vida extremamente luxuoso. A partir da década de 1770, com a crise econômica que se instalou na França, a nobreza,
              principalmente, ampliou sua exploração sobre o povo, exigindo cada vez mais dinheiro dos camponeses que trabalhavam em suas terras.</span>
         <span style="font-size: 25px">O povo, sobretudo os camponeses, viviam em uma situação extremamente difícil nessa época, pois, segundo o historiador
              Eric Hobsbawm, “os tributos feudais, os dízimos e as taxas tiravam uma grande e cada vez maior proporção da renda do camponês, e a inflação
               reduzia o valor do resto”.</span>
        <span style="font-size: 25px;">situação dos camponeses era agravada pela forte crise econômica que afetava o país. Essa crise resultava do envolvimento da França na Revolução Americana.
        Os altos gastos do país na guerra contra a Inglaterra faliram a economia francesa, ainda mais fragilizada com a manutenção pela Coroa do padrão de vida
        luxuoso da nobreza francesa. Hobsbawm estima que a França gastava, na época, 20% a mais do que arrecadava.</span>
          <span style="font-size: 25px">O grande estopim que transformou a revolta popular em revolta generalizada foi o quadro de fome que se espalhou
               no país após colheitas ruins em 1788 e 1789 e um inverno rigoroso. Esses dois fatores contribuíram para o aumento do custo de vida,
                principalmente dos alimentos, e impulsionaram o povo para a rebelião e, em outros casos, para o banditismo.</span>
        <span class="sub-title">Estados gerais e assembleia constituinte:</span>
         <span style="font-size: 25px;">A grave crise econômica que se instalou na França levou o rei Luís XVI a convocar os Estados Gerais. Os Estados Gerais eram uma espécie de conselho que reunia os representantes dos três estados para debater e tomar decisões pelo voto. O intuito dessa convocação era debater alternativas para enfrentar a crise sem que houvesse necessidade de retirar os privilégios do clero e da nobreza.
Isso porque a decisão tomada nos Estados Gerais acontecia a partir do voto por estado, ou seja, o voto não era individual. Primeiro e Segundo Estado sempre se aliavam para combater o ímpeto de reformas do Terceiro Estado. Em razão disso, durante a realização dos Estados Gerais, o Terceiro Estado propôs que a votação fosse realizada de maneira individual.</span>
         <span style="font-size: 25px;">Caso isso acontecesse, os interesses da alta nobreza e do clero estariam ameaçados, pois os burgueses do Terceiro Estado poderiam aliar-se com o baixo clero e a nobreza liberal e, assim, conseguir aprovação para suas reformas. Com sua proposição rejeitada, os representantes do Terceiro Estado criaram, então, a Assembleia Nacional Constituinte e passaram a formular uma nova constituição para a França.</span>
         <span style="font-size: 25px;">A ação do Terceiro Estado recebia intenso apoio das camadas populares em Paris, e isso foi a chave do seu sucesso e do início da Revolução. Além disso, é importante considerar que a convocação dos Estados Gerais ocorria em um momento delicado (de crise econômica, alta nos preços e fome) e, portanto, contribuiu largamente para que a insatisfação popular assumisse grandes proporções.</span>
          <span class="sub-title">Queda da Bastilha</span>
          <span style="font-size: 25px;">A aristocracia francesa, em parceria com o rei Luís XVI, tentou barrar as ações do Terceiro Estado e impedir a atuação da Assembleia Nacional Constituinte. No entanto, as atitudes do Terceiro Estado deram ao povo uma nova perspectiva política, o que possibilitou o início de um grande levante popular em Paris. Assim, foram formadas milícias populares sob a liderança de uma milícia comandada pela burguesia (que se transformou na Guarda Nacional liderada por La Fayette).</span>
          <span style="font-size: 25px;">Procurando armar-se, a população parisiense, organizada nessa milícia, partiu, primeiramente, em direção ao Hotel dos Inválidos (local que abrigava inválidos do exército francês) com o objetivo de tomar as armas armazenadas nesse local. Após isso, a população dirigiu-se à Bastilha para ter acesso ao estoque de pólvora para as armas obtidas no Hotel dos Inválidos.</span>
          <span style="font-size: 25px;">A Bastilha era uma prisão e antigo símbolo da opressão do Antigo Regime e, naquele momento, abrigava apenas sete prisioneiros. O ataque a essa prisão é considerado o símbolo da queda do sistema absolutista e serviu de inspiração para espalhar a revolução por outras cidades da França e para os meio rurais. Com a queda da Bastilha, iniciou-se um período de turbulência e agitação que se estendeu até 1799.</span>
      </div>
        </div>
    </v-app>
</template>
<style scoped>
  .able {
    margin-left: 100px;
    width: 50px;
    margin-bottom: 75px;
  }

  .painel {
    height: 1000px;
    width: 33%;
    margin: 50px;
  }

  .bottonLeter {
    margin : 2px;
  }

  .text {
      margin-left: 50px;
      margin-right: 50px;
      height: 2700px;
      width: 1500px;
      background: #e8e6e5;
      padding: 3%;

  }

  .title {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #e8e6e5;
    height: 100px;
    width: 1500px;
  }

  .sub-title {
    font-size: 35px;
    margin-top:50px;
    margin-bottom: 50px;
  }
</style>