<template>
    <v-app>
          <v-app-bar
      height="150px"
      app
      color="yellow accent-3"
      display= "flex"
      dark
    >
      <div class="d-flex align-center" 
        style = "margin-left:80px;">
        <a href="./App.vue">
        <v-img
          alt="Sei logo"
          class="shrink mr-2"
          contain
          src="https://i.imgur.com/maZ2NT0.png"
          transition="scale-transition"
          width="150"
        />
        </a>

        <v-img
          alt="Sei Nome"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://i.imgur.com/nXR39Eu.png"
          width="500"
        />
      </div>
      <v-spacer></v-spacer>

    <div class="d-flex justify-space-between" style= "margin-bottom: 75px">
      <h3 class="align-start" style="color:black; margin-right:10px;">Contraste</h3>
        <v-btn fab x-small style="background: black;"></v-btn>
        <v-btn fab x-small style="background: white;"></v-btn>
    </div>
  <div class="d-flex justify-space-between able">
    <v-btn class="bottonLeter" depressed>
      <h5>a-</h5>
    </v-btn>
    <v-btn class="bottonLeter" depressed>
      <h2>A+</h2>
    </v-btn>
  </div>
      <v-spacer></v-spacer>

 <v-card
        max-width="700"
        style="margin-right:50px;"
      >
        <v-toolbar flat style="background: #e8e6e5">
          <v-toolbar-title style="color: black">Escolha um assunto</v-toolbar-title>
  
          <v-spacer></v-spacer>
  
          <v-btn icon style="color: black">
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
  
          <v-btn icon style="color: black">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </v-toolbar>
  
        <v-divider></v-divider>
      </v-card>
        </v-app-bar>
        <div class="d-flex align-center flex-column">
        <div class="d-flex justify-center align-center title">
          <h1>Sujeito e Predicado</h1>
        </div>
      <div class="d-flex text text-justify align-center flex-column">
        <span style="font-size: 35px;">Sujeito</span>
        <span style="font-size:25px;"> É o nome, o substantivo ao qual o predicado se refere. </span>
	<span style="font-size:25px;"> <b>Núcleo do sujeito:</b> o termo fundamental dentro do sujeito, a que (ou quem) o verbo faz referência. </span>
	<span style="font-size:25px;"> Para encontrá-lo: perguntar O QUE ou QUEM ao verbo!</span>
        <span style="font-size: 35px;">Predicado: </span>
        <span style="font-size: 25px;">É tudo aquilo que se diz ou o que se declara sobre o sujeito. Gira em torno de um verbo.</span>
	<span style="font-size:25px;"> <b>Núcleo do predicado:</b> termo que contém uma maior referência sobre o sujeito, ligado diretamente ao núcleo do sujeito. Pode ser um nome, um verbo ou ambos, dependendo do tipo de predicado que tivermos.
</span>
        <span class="sub-title">Exemplos de identificação do sujeito e do predicado: </span>
         <span style="font-size: 25px;"> O diretor entrou na sala de reuniões.</span>
	<span style="font-size:25px;"> <b>Sujeito:</b> O diretor <br> </span>
	<span style="font-size:25px;"> <b>Predicado:</b> entrou na sala de reuniões. </span>
	<span style="font-size:25px;"> Mariana e Carolina perderam o avião. </span>
	<span style="font-size:25px;"> <b>Sujeito:</b> Mariana e Carolina </span>
	<span style="font-size:25px;"> <b>Predicado:</b> perderam o avião. </span>
	<span style="font-size:25px;">Ela não me disse a verdade. </span>
	<span style="font-size:25px;"> <b>Sujeito:</b> Ela </span>
	<span style="font-size:25px;"> <b>Predicado:</b> não me disse a verdade. </span>

	<span style="font-size: 35px;">Tipos de Sujeito</span>
	<span style="font-size:25px;"> <b>Simples:</b> Possui apenas 1 núcleo.  Exemplo: </span>
	<span style="font-size:25px;"> <b> A criança</b> caiu.</span>
	<span style="font-size:25px;"> <b>Os professores</b> estão fazendo greve</span>
	<span style="font-size:25px;"> <b>Composto:</b> Possui 2 ou mais núcleos. Exemplo:</span>
	<span style="font-size:25px;"> <b>Verde e preto</b> são as minhas cores preferidas.</span>
	<span style="font-size:25px;"> <b>O pai e o filho</b> estão jogando futebol. </span>
	<span style="font-size:25px;"> <b>Indeterminado:</b> Possui identidade desconhecida. Não está explícito. Pergunta-se O QUE ou QUEM ao verbo e não se obtém resposta. </span>
	
        <span class="sub-title">Indeterminação do sujeito ou Oração sem sujeito</span>
	<span style="font-size:25px;"> Nesses casos, teremos orações com as seguintes características: </span>
	<span style="font-size:25px;">   Verbo na 3ª pessoa do singular + pronome SE. </span>
	<span style="font-size:25px;">     Verbo na 3ª pessoa do plural sem referir-se a um nome anterior. </span>

	<span style="font-size: 35px;">Tipos de Predicado</span>
	<span style="font-size:25px;"><b>Verbal:</b> tem como núcleo um verbo ou uma expressão verbal, ligados diretamente ao núcleo do sujeito. </span>
	<span style="font-size:25px;"><b>Nominal:</b> tem como núcleo um nome ou expressão nominal, ligados diretamente ao núcleo do sujeito.</span>
	<span style="font-size:25px;"><b>Verbo-nominal:</b> tem como núcleo um verbo (ou expressão verbal) e um nome ao mesmo tempo, ambos ligados diretamente ao núcleo do sujeito.</span>

	<span style="font-size:25px;"> O núcleo do predicado nominal é chamado de predicativo do sujeito. Esse predicativo sempre estará ligado ao sujeito através de um verbo de ligação. São 7:</span>

	<span style="font-size:25px;">1. Ser </span>
	<span style="font-size:25px;">2. Estar</span>
	<span style="font-size:25px;">3. Parecer</span>
	<span style="font-size:25px;">4. Permanecer</span>
	<span style="font-size:25px;">5. Ficar</span>
	<span style="font-size:25px;">6. Continuar</span>
	<span style="font-size:25px;">7. Andar</span>
	<span style="font-size: 35px;">Vocativo</span>	

	<span style="font-size:25px;"> Vocativo é um termo que não possui relação sintática com outro termo da oração. Não pertence, portanto, nem ao sujeito nem ao predicado. É o termo que serve para chamar, invocar um ouvinte, como seu próprio nome sugere.Exemplo:</span>

	<span style="font-size:25px;">    Não fale tão alto, Rita!</span>
	<span style="font-size:25px;">    No exemplo acima, Rita é o vocativo.</span>
	<span style="font-size:25px;"><b>Dica:</b> o vocativo SEMPRE virá isolado por vírgula.</span>
	<span style="font-size:25px;"><b>Atenção:</b> Não confunda vocativo com aposto. Aposto é o termo que explica, desenvolve, identifica ou resume outro termo da oração. Já o vocativo é o termo que invoca, chama alguém.</span>
      </div>
        </div>
    </v-app>
</template>
<style scoped>
  .able {
    margin-left: 100px;
    width: 50px;
    margin-bottom: 75px;
  }

  .painel {
    height: 1000px;
    width: 33%;
    margin: 50px;
  }

  .bottonLeter {
    margin : 2px;
  }

  .text {
      margin-left: 50px;
      margin-right: 50px;
      height: 2500px;
      width: 1500px;
      background: #e8e6e5;
      padding: 3%;

  }

  .title {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #e8e6e5;
    height: 100px;
    width: 1500px;
  }

  .sub-title {
    font-size: 35px;
    margin-top:50px;
    margin-bottom: 50px;
  }
</style>

