<template>
    <v-app>
          <v-app-bar :style="{fontSize: size+'px', backgroundColor: 'style.bg'}"
      height="150px"
      app
      color="yellow accent-3"
      display= "flex"
      dark
    >
      <div class="d-flex align-center" 
        :style="{fontsize: size+'px', backgroundColor: 'style.bg'}">
        <a href="./App.vue">
        <v-img
          alt="Sei logo"
          class="shrink mr-2"
          contain
          src="https://i.imgur.com/maZ2NT0.png"
          transition="scale-transition"
          width="150"
        />
        </a>

        <v-img
          alt="Sei Nome"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://i.imgur.com/nXR39Eu.png"
          width="500"
        />
      </div>
      <v-spacer></v-spacer>

    <div class="d-flex justify-space-between" :style="{fontSize : size + 'px', marginBottom: 75+'px'}">
      <h3 class="align-start" :style="{fontSize : size + 'px', color:black, marginRight:10+'px'}">Contraste</h3>
        <v-btn fab x-small:style="{fontSize : size + 'px', background: black}" :to="{ name:'VetoresDark'}"></v-btn>
        <v-btn fab x-small:style="{fontSize : size + 'px', background: white}"></v-btn>
    </div>
  <div class="d-flex justify-space-between able">
    <v-btn class="bottonLeter" @click="size -= 2" depressed>
      <h5>a-</h5>
    </v-btn>
    <v-btn class="bottonLeter" @click="size += 2" depressed>
      <h2>A+</h2>
    </v-btn>
  </div>
      <v-spacer></v-spacer>

 <v-card
        max-width="700"
       :style="{fontSize : size + 'px', marginRight:50+'px'}"
      >
        <v-toolbar flat style="background: #e8e6e5">
          <v-toolbar-title style="color: black">Escolha um assunto</v-toolbar-title>
  
          <v-spacer></v-spacer>
  
          <v-btn icon style="color: black">
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
  
          <v-btn icon style="color: black">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </v-toolbar>
  
        <v-divider></v-divider>
      </v-card>
        </v-app-bar>
        <div class="d-flex align-center flex-column" style='margin-top:100px'>
        <div class="d-flex justify-center align-center title">
          <h1 :style="{fontSize: size+'px'}">Vetores</h1>
        </div>
      <div class="d-flex text text-justify align-center flex-column">
        <span :style="{fontSize : size + 'px'}">Definição intuitiva:</span>
        <span :style="{fontSize : size + 'px'}"> geometria analítica, um vetor é uma classe de equipolência de segmentos de reta orientados, que possuem
           todos a mesma intensidade (também designada por norma ou módulo), mesma direção e mesmo sentido[1]. Em alguns dos casos, a expressão
            vetor espacial também é utilizada. Neste contexto, um vetor  pode ser representado por qualquer segmento de reta orientado, que seja
             membro da classe deste vetor (isto é, por qualquer segmento de reta orientado que possua o mesmo módulo, mesma direção.</span>
        <span class="sub-title" :style="{fontSize: size+'px'}">Definição formal: </span>
        <span :style="{fontSize : size + 'px'}">Um vetor é definido como sendo uma classe de equipolência de segmentos de reta orientados que  representam
         um espaço vetorial de n dimensões. Assim sendo, em um espaço vetorial de 3 dimensões, cada vetor será dotado de três coordenadas, comumente
          denominadas x, y e z.</span>
        <span class="sub-title" :style="{fontSize: size+'px'}">Norma de um vetor: </span>
         <span :style="{fontSize : size + 'px'}">A norma de um vetor é seu comprimento, que vale a raiz do somatória dos quadrados dos componentes deste vetor. </span>
        <span class="sub-title" :style="{fontSize: size+'px'}">Adição/subtração de vetores: </span>
         <span :style="{fontSize : size + 'px'}">A soma de dois vetores é um vetor cuja primeira coordenada é a soma das coordenadas dos operandos, a segunda coordenada é a soma das coordenadas dos operandos, assim por diante.
Analogamente, a subtração de dois vetores é um vetor cuja primeira coordenada é a subtração das duas coordenadas, e o processo se repete até a última coordenada.</span>
        <span class="sub-title" :style="{fontSize: size+'px'}">Adição/subtração de vetores:</span>
         <span :style="{fontSize : size + 'px'}">	O produto escalar de dois vetores é a soma do produto da primeira coordenada do primeiro vetor com a primeira
            coordenada do segundo vetor com o produto da segunda coordenada do primeiro vetor com a segunda coordenada do segundo vetor e assim segue
             até a última coordenada dos vetores.   O produto escalar também pode ser definido como o produto das normas dos vetores multiplicado pelo
              cosseno do ângulo entre eles.</span>
          <v-img class="sub-title" :style="{fontSize: size+'px'}" max-height="400px" max-width="400px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Dot_Product.svg/300px-Dot_Product.svg.png"></v-img>
      </div>
        </div>
    </v-app>
</template>

<script>
export default {
  name: 'App',

  data: () => ({
    size: 20,
  }),
};
</script>

<style scoped>
  .able {
    margin-left: 100px;
    width: 50px;
    margin-bottom: 75px;
  }

  .painel {
    height: 1000px;
    width: 33%;
    margin: 50px;
  }

  .bottonLeter {
    margin : 2px;
  }

  .text {
      margin-left: 50px;
      margin-right: 50px;
      height: 2000px;
      width: 1500px;
      background: #e8e6e5;
      padding: 3%;

  }

  .title {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #e8e6e5;
    height: 100px;
    width: 1500px;
  }

  .sub-title {
    font-size: 35px;
    margin-top:50px;
    margin-bottom: 50px;
  }
</style>
