
<template v-on:increase-font="size += 5" :style="{fontSize: size+'px', backgroundColor: style.bg}">
  <v-app :style="{fontSize: size+'px', backgroundColor:style.bg}">
    <v-app-bar
      height="150px"
      app
      color="yellow accent-3"
      display= "flex"
      :style="{fontSize: size+'px', backgroundColor: 'black'}"
      dark
    >
      <div class="d-flex align-center" 
        style = "margin-left:80px;">
        <a href="./App.vue">
        <v-img
          alt="Sei logo"
          class="shrink mr-2"
          contain
          src="https://i.imgur.com/maZ2NT0.png"
          transition="scale-transition"
          width="150"
        />
        </a>

        <v-img
          alt="Sei Nome"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://i.imgur.com/nXR39Eu.png"
          width="500"
        />
      </div>
      <v-spacer></v-spacer>

    <div class="d-flex justify-space-between" style= "margin-bottom: 75px">
      <h3 class="align-start" style="color:black; margin-right:10px;">Contraste</h3>
        <v-btn fab x-small style="background: black;" :to="{name: 'AppDark'}"></v-btn>
        <v-btn fab x-small style="background: white;" @click="style.bg = 'white'"></v-btn>
    </div>
  <div class="d-flex justify-space-between able">
    <v-btn class="bottonLeter" @click="size -= 2" depressed>
      <h5>a-</h5>
    </v-btn>
    <v-btn class="bottonLeter" @click="size += 2" depressed>
      <h2>A+</h2>
    </v-btn>
  </div>
      <v-spacer></v-spacer>

 <v-card
        max-width="700"
        style="margin-right:50px;"
      >
        <v-toolbar flat style="background: #e8e6e5">
          <v-toolbar-title style="color: black">Escolha um assunto</v-toolbar-title>
  
          <v-spacer></v-spacer>
  
          <v-btn icon style="color: black">
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
  
          <v-btn icon style="color: black">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </v-toolbar>
  
        <v-divider></v-divider>
      </v-card>
        </v-app-bar>
    <v-content style="padding: 0; margin-top:75px">
      <router-view></router-view>
      <div class="d-flex justify-space-between">
          <v-card class="painel" :style="{fontSize: size, backgroundColor: style.bg}" :to="{ name:'Basico'}" raised img="https://i.imgur.com/aj1OgBF.png"></v-card>
          <v-card class="painel" :style="{fontSize: size, backgroundColor: style.bg}" :to="{ name:'Medio'}"  raised img="https://i.imgur.com/sTUFieh.png"></v-card>
          <v-card class="painel" :style="{fontSize: size, backgroundColor: style.bg}" :to="{ name:'Superior'}" raised img="https://i.imgur.com/pvrHnFF.png"></v-card>
      </div> 
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'App',

  data: () => ({
    style: {
      bg: 'white',
      txt: 'black',
    },
    size: 20,
  }),
};
</script>

<style scoped>
  .able {
    margin-left: 100px;
    width: 50px;
    margin-bottom: 75px;
  }

  .painel {
    height: 1000px;
    width: 33%;
    margin: 50px;
  }

  .bottonLeter {
    margin : 2px;
  }
</style>
